@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Maven+Pro:wght@400;500;600;700;800;900&family=News+Cycle:wght@400;700&family=Overpass:ital,wght@0,200;0,400;0,600;0,800;0,900;1,200;1,400;1,600;1,800;1,900&display=swap');

:root {
    --title-font: 'Hind';
    --body-font: 'Overpass';
    --navy: rgba(5, 43, 70, 1);
}

body {
    font-family: var(--body-font), sans-serif;
    line-height: 1.5;
    margin: 0;
    background: var(--navy);
}

h1, h2, h3, h4 {
    font-family: var(--title-font), sans-serif;
    font-weight: black;
}

a {
    color: #103060;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 0.5px;
}
a:hover {
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
}

h1 {
    background: url(/img/hero.jpg) #333;
    background-size: cover;
    height: 400px;
    line-height: 400px;
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.9);
}

main > section {
    padding: 50px;
}

h2 {
    margin: 0 0 20px 0;
}

dl {
    display: grid;
    grid-template-columns: 10% auto;
    grid-row-gap: 1em;

}
dl > dt {
    grid-column: 1;
}
dl > dd {
    grid-column: 2;
}
dl.faq {
    display: block;
}
dl.faq > dt {
    font-weight: bold;
    margin: 0 0 0.5em 0;
}
dl.faq > dd {
    margin: 0 0 2em 0;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background: var(--navy);
}
.gallery > a {
    line-height: 0;
    transition: transform 80ms ease-out;
    margin: -20px;
}
.gallery > a:hover {
    transform: scale(1.1);
    z-index: 1;
}
